@{
    Layout = "";
    ViewData["Title"] = "Unbekannter Fehler";
}
<div align = "center">
        <h2>Etwas ist schiffgelaufen.</h2>
        <p>Es tut uns leid.</p>
        <a asp-controller = "Home" asp-action = "Index">Hauptseite</a>
    </div>
</div>