@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Animationen";
}
<div class="container mt-4">
    <div class="text-center mb-5">
        <h1>Animationen</h1>
        <p>Es ist ein bisschen langweilig, 3D Modelle ohne Ziel erstellen. Deshalb habe ich ein paar einfache Animationen gemacht.</p>
        <p>Viel Spaß!</p>
    </div>

    <div class = "game-placeholder mx-auto mb-5" style="background-image: url(/uploads/d246de96-f037-4d18-846e-153863b1fcc9.jpg);">
            <div class="text-center">
                <a class="btn btn-danger rounded-5" href=" https://www.youtube.com/watch?v=-mcJVoCj5lU" target="_blank">
                    Auf Youtube gucken
                </a>
            </div>
    </div>

    <div class = "game-placeholder mx-auto mb-5" style="background-image: url(/uploads/7d9df4d6-b477-4386-812f-87ce8f95321d.jpg);">
            <div class="text-center">
                <a class="btn btn-danger rounded-4" href="https://www.youtube.com/watch?v=NbXEFLo32YU" target="_blank">
                    Auf Youtube gucken
                </a>
            </div>
    </div>

    <div class = "game-placeholder mx-auto mb-5" style="background-image: url(/uploads/e99f247c-2a9d-47c5-a72a-cbe4c3839c34.jpg);">
        <div class="text-center">
            <a class="btn btn-danger" href="https://www.youtube.com/watch?v=Tx-6uZWlY34" target="_blank">
                Auf Youtube gucken
            </a>
        </div>
    </div>
    <div class = "game-placeholder mx-auto mb-5" style="background-image: url(/uploads/9595ddd7-da17-4262-98b2-630fa380a030.jpg);">
        <div class="text-center">
            <a class="btn btn-danger" href="https://www.youtube.com/watch?v=XSQ16wSJngA" target="_blank">
                Auf Youtube gucken
            </a>
        </div>
    </div>
</div>